@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.underline-none {
    text-decoration: none;
}


/*Post Slideshow*/
/*.each-slide-effect > div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-size: cover;*/
/*    height: 450px;*/
/*}*/

/*.each-slide-effect span {*/
/*    padding: 20px;*/
/*    font-size: 20px;*/
/*    background: #efefef;*/
/*    text-align: center;*/
/*}*/


/*END Post Slideshow*/
